In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [2]:
numerical_data = pd.read_csv("../bosch/train_numeric_sample.csv")

In [3]:
num_data_des = numerical_data.describe()
num_data_des

/home/manpun/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
count,1.000000e+04,5748.000000,5748.000000,5748.000000,5748.000000,5748.000000,5748.000000,5748.000000,5748.000000,5748.000000,...,268.000000,268.0,268.000000,268.000000,268.000000,529.000000,529.0,529.000000,529.000000,10000.000000
mean,1.183132e+06,-0.001021,-0.001207,0.000423,0.000480,-0.000467,-0.001063,0.000195,0.000923,0.001990,...,-0.000004,0.0,0.000463,0.000246,0.009328,-0.000006,0.0,0.000008,0.000049,0.006000
std,6.797952e+05,0.079430,0.091491,0.211323,0.211789,0.093896,0.165285,0.019252,0.103570,0.113755,...,0.000061,0.0,0.006811,0.003260,0.250293,0.000075,0.0,0.000123,0.000635,0.077231
min,3.160000e+02,-0.382000,-0.437000,-0.397000,-0.397000,-0.404000,-0.566000,-0.044000,-0.232000,-0.378000,...,-0.001000,0.0,0.000000,0.000000,-0.250000,-0.001000,0.0,0.000000,0.000000,0.000000
25%,5.889585e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,1.184593e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,1.769318e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,2.367476e+06,0.265000,0.265000,0.567000,0.566000,0.292000,0.206000,0.082000,0.488000,0.469000,...,0.000000,0.0,0.111000,0.053000,0.250000,0.000000,0.0,0.002000,0.014000,1.000000

In [4]:
column_fill = num_data_des.ix['count']
column_fill = column_fill.drop('Id')
column_fill = column_fill.drop('Response')

In [5]:
columns = column_fill[column_fill>5000]
num_data_concise = numerical_data[columns.index]

In [6]:
num_data_concise['Id'] = numerical_data['Id']
num_data_concise['Response'] = numerical_data['Response']

/home/manpun/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/manpun/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
num_data_concise.head()
num_data_concise.shape

(10000, 158)

In [8]:
num_data = num_data_concise.fillna(num_data_concise.mean())

In [103]:
rf = RandomForestClassifier(n_estimators = 200, max_depth = 20)

In [9]:
y, _ = pd.factorize(num_data['Response'])

In [104]:
rf.fit(num_data.ix[:,:-2], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
test_data = pd.read_csv('../bosch/test_numeric.csv', usecols = columns.index)

In [32]:
test_data.shape

(1183748, 156)

In [33]:
test_data.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S33_F3871,L3_S33_F3873,L3_S34_F3876,L3_S34_F3878,L3_S34_F3880,L3_S34_F3882,L3_S37_F3944,L3_S37_F3946,L3_S37_F3948,L3_S37_F3950
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.016,-0.026,-0.033,-0.016,0.205,-0.157,0.0,0.008,0.087,0.077,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
test_data = test_data.fillna(test_data.mean())

In [106]:
results = rf.predict(test_data)

In [108]:
results.mean()

0.0

In [92]:
test_id = pd.read_csv('../bosch/test_numeric.csv', usecols = ['Id'])

In [19]:
submission = pd.DataFrame()

In [20]:
submission['Id'] = test_id['Id']
submission['Response'] = results

In [21]:
submission.shape

(1183748, 2)

In [29]:
submission.to_csv('rf_numerical.csv', index = False)

Training on Entire set with selected columns from the sample training data

In [6]:
num_data_full = pd.read_csv('../bosch/train_numeric.csv', usecols = columns.index)

In [7]:
num_data_full.shape

(1183747, 156)

Let us use weighing method to solve the imbalanced data. Since the ration is 0.994:0.006 try the weights 1:50 and 1:100 and 1:150

In [8]:
ynum_data_full = pd.read_csv('../bosch/train_numeric.csv', usecols = ['Response'])

In [29]:
rff = RandomForestClassifier(n_estimators = 200, max_depth = 20,class_weight='balanced', n_jobs=4)

In [10]:
num_data_full = num_data_full.fillna(num_data_full.mean())

In [14]:
y, xa = pd.factorize(ynum_data_full['Response'])

In [30]:
rff.fit(num_data_full,y)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=20, max_features='auto',
            max_leaf_nodes=None, min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=4,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

While fitting it is working only on one processor. RF is higly parallel. Next time chekout how to do that in parallel using python. Use n_jobs parameter in RF

In [35]:
results = rff.predict_proba(test_data)

In [37]:
res_noprob = rff.predict(test_data)

In [90]:
t = [x[1] for x in results]
t =np.array(t)
t = t > 0.60
t = t.astype(int)
t.mean()

0.0046690680786789082

Will have to calivrate the probability value depingding in the error metric. Let us first try 0.6 and 0.69

In [91]:
submission1209 = pd.DataFrame()

In [93]:
submission1209['Id'] = test_id['Id']

In [94]:
submission1209['Response'] = t

In [97]:
submission1209.to_csv('rf_fullnumdata_weighted.csv', index =False)

In [98]:
t = [x[1] for x in results]
t =np.array(t)
t = t > 0.69
t = t.astype(int)
t.mean()

0.0032481575470454859

In [99]:
submission1209['Response'] = t
submission1209.to_csv('rf_fullnumdata_weighted69.csv', index =False)

In [100]:
t = [x[1] for x in results]
t =np.array(t)
t = t > 0.55
t = t.astype(int)
t.mean()

0.0060511189881630213

In [101]:
submission1209['Response'] = t
submission1209.to_csv('rf_fullnumdata_weighted55.csv', index =False)

In [102]:
t = [x[1] for x in results]
t =np.array(t)
t = t > 0.50
t = t.astype(int)
t.mean()

0.0076773096976721399

In [103]:
submission1209['Response'] = t
submission1209.to_csv('rf_fullnumdata_weighted50.csv', index =False)

Will try svm classification now. Let us use rdf kernel.
First using sample data of 10000 points

In [51]:
X_train_svm = num_data.ix[:,:-2]

In [52]:
Y_train_svm = y

Will have to normalize the data first to use it for SVM.

In [53]:
from sklearn import preprocessing

In [54]:
scaler = preprocessing.StandardScaler()

In [55]:
X_train_norm = scaler.fit_transform(X_train_svm)

In [58]:
X_train = pd.DataFrame(X_train_norm)

In [59]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,-2.208405e+00,-2.505727e+00,-9.627066e-02,-1.026461e-01,1.046151e+00,9.342563e-01,1.494089e+00,2.127958e+00,4.523571e-01,-6.154884e-01,...,-0.021536,-0.028391,-0.017391,-0.017865,-0.018669,-0.030961,-0.011334,-0.022387,-0.024129,-0.040222
1,-1.876263e+00,-1.438805e+00,-1.007620e+00,-1.348325e+00,-7.801660e-01,-5.182451e-01,1.014453e+00,5.995934e-01,-2.504624e+00,-2.822617e+00,...,-0.021536,-0.028391,-0.017391,-0.017865,-0.018669,-0.030961,-0.011334,-0.022387,-0.024129,-0.040222
2,1.830192e-01,8.248010e-01,-1.232336e+00,-1.117874e+00,-1.398304e+00,-1.970746e+00,-1.041131e+00,-9.287715e-01,1.508610e-01,-8.043337e-01,...,-0.021536,-0.028391,-0.017391,-0.017865,-0.018669,-0.030961,-0.011334,-0.022387,-0.024129,-0.040222
3,7.310540e-01,4.931900e-01,1.944902e+00,2.052378e+00,4.420613e-01,1.293391e+00,1.014453e+00,1.109048e+00,2.458466e+00,1.025105e+00,...,-0.021536,-0.028391,-0.017391,-0.017865,-0.018669,-0.030961,-0.011334,-0.022387,-0.024129,-0.040222
4,2.016613e-16,9.379132e-18,1.894961e-17,-3.376419e-18,-1.629772e-16,-3.132305e-16,7.614618e-17,-5.523522e-18,1.005793e-17,-3.327130e-17,...,-0.021536,-0.028391,-0.017391,-0.017865,-0.018669,-0.030961,-0.011334,-0.022387,-0.024129,-0.040222

In [71]:
clf = svm.SVC(C=1.0, probability=True, class_weight='auto')

In [61]:
test_data = pd.read_csv('../bosch/test_numeric_sample.csv', usecols = columns.index)

In [62]:
test_data.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S33_F3871,L3_S33_F3873,L3_S34_F3876,L3_S34_F3878,L3_S34_F3880,L3_S34_F3882,L3_S37_F3944,L3_S37_F3946,L3_S37_F3948,L3_S37_F3950
0,-0.023,-0.064,-0.197,-0.161,-0.056,0.070,-0.007,0.008,-0.327,-0.201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.042,-0.049,-0.015,-0.016,-0.013,0.161,0.008,0.048,-0.092,0.067,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
test_data = test_data.fillna(test_data.mean())

In [64]:
test_data_norm = scaler.fit_transform(test_data)
test_data = pd.DataFrame(test_data_norm)
test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,-3.515559e-01,-8.802541e-01,-1.227732e+00,-1.002049e+00,-7.856648e-01,5.719923e-01,-4.889354e-01,8.366742e-02,-3.702608e+00,-2.332534e+00,...,-0.032635,-0.034178,-0.011185,0.0,-0.015986,-0.03964,-0.010867,-0.019917,-0.025631,-0.034812
1,2.224704e-16,-6.416259e-17,2.505532e-16,9.836902e-16,4.311963e-17,-9.094438e-17,1.051293e-16,1.350775e-17,-1.235645e-16,9.191720e-17,...,-0.032635,-0.034178,-0.011185,0.0,-0.015986,-0.03964,-0.010867,-0.019917,-0.025631,-0.034812
2,-6.609736e-01,-6.688986e-01,-8.481823e-02,-9.350162e-02,-1.803034e-01,1.305954e+00,5.141468e-01,5.820153e-01,-1.024357e+00,8.231158e-01,...,-0.032635,-0.034178,-0.011185,0.0,-0.015986,-0.03964,-0.010867,-0.019917,-0.025631,-0.034812
3,2.224704e-16,-6.416259e-17,2.505532e-16,9.836902e-16,4.311963e-17,-9.094438e-17,1.051293e-16,1.350775e-17,-1.235645e-16,9.191720e-17,...,-0.032635,-0.034178,-0.011185,0.0,-0.015986,-0.03964,-0.010867,-0.019917,-0.025631,-0.034812
4,2.224704e-16,-6.416259e-17,2.505532e-16,9.836902e-16,4.311963e-17,-9.094438e-17,1.051293e-16,1.350775e-17,-1.235645e-16,9.191720e-17,...,-0.032635,-0.034178,-0.011185,0.0,-0.015986,-0.03964,-0.010867,-0.019917,-0.025631,-0.034812

In [72]:
#Fitting with sample data
clf.fit(X_train, Y_train_svm)

/home/manpun/anaconda3/lib/python3.5/site-packages/sklearn/utils/class_weight.py:62: DeprecationWarning: The class_weight='auto' heuristic is deprecated in 0.17 in favor of a new heuristic class_weight='balanced'. 'auto' will be removed in 0.19
  " 0.19", DeprecationWarning)

SVC(C=1.0, cache_size=200, class_weight='auto', coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [85]:
svm_test_sample = clf.predict(test_data)

In [88]:
svm_test_sample.mean()

0.26119999999999999

In [77]:
t = [x[1] for x in svm_test_sample]
t =np.array(t)
t = t > 0.55
t = t.astype(int)
t.mean()

0.0

In [84]:
svm_test = pd.DataFrame(svm_test_sample)
svm_test.describe()

                  0             1
count  10000.000000  10000.000000
mean       0.993968      0.006032
std        0.000052      0.000052
min        0.993823      0.005840
25%        0.993929      0.005997
50%        0.993965      0.006035
75%        0.994003      0.006071
max        0.994160      0.006177

Now trying this using xgboost

In [89]:
import xgboost as xgb

In [90]:
clf_xgb = xgb.XGBClassifier(n_estimators=200, nthread=4, max_depth = 20)

In [91]:
clf_xgb.fit(X_train_svm,Y_train_svm)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=20,
       min_child_weight=1, missing=None, n_estimators=200, nthread=4,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [92]:
test_data = pd.read_csv('../bosch/test_numeric_sample.csv', usecols = columns.index)

In [93]:
results_xgb = clf_xgb.predict_proba(test_data)

In [96]:
results_xgb = pd.DataFrame(results_xgb)

In [99]:
results_xgb.describe()

                  0             1
count  10000.000000  10000.000000
mean       0.996798      0.003233
std        0.011739      0.011739
min        0.822417      0.000012
25%        0.998939      0.000131
50%        0.999682      0.000318
75%        0.999869      0.001061
max        0.999988      0.177583

In [100]:
results = clf_xgb.predict(test_data)

In [102]:
results.mean()

0.0